<div class="container">

    <h1>Lista de Chamados</h1>
    <button matButton="filled" routerLink="/chamados/create" class="mat-elevation-z8">Novo chamado</button>

    <mat-form-field>
        <mat-label>Busca</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Chamado 01" #input>
    </mat-form-field>
    
    <mat-radio-group class="radio-toolbar">
        <mat-radio-button value="todos" (click)="findAll()">TODOS</mat-radio-button>
        <span class="radio-label">Filtro de Status:</span>
        <mat-radio-button value="0" (click)="orderByStatus(0)">ABERTO</mat-radio-button>
        <mat-radio-button value="1" (click)="orderByStatus(1)">EM ANDAMENTO</mat-radio-button>
        <mat-radio-button value="2" (click)="orderByStatus(2)">ENCERRADO</mat-radio-button>
        <span class="radio-label">Filtro de Prioridade:</span>
        <mat-radio-button value="0" (click)="orderByPrioridade(0)">BAIXA</mat-radio-button>
        <mat-radio-button value="1" (click)="orderByPrioridade(1)">MÉDIA</mat-radio-button>
        <mat-radio-button value="2" (click)="orderByPrioridade(2)">ALTA</mat-radio-button>
    </mat-radio-group>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Título </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
            </ng-container>

            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
            </ng-container>

            <ng-container matColumnDef="tecnico">
                <th mat-header-cell *matHeaderCellDef> Técnico </th>
                <td mat-cell *matCellDef="let element"> {{element.nomeTecnico}} </td>
            </ng-container>

            <ng-container matColumnDef="dataAbertura">
                <th mat-header-cell *matHeaderCellDef> Data de Abertura </th>
                <td mat-cell *matCellDef="let element"> {{element.dataAbertura}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{retornaStatus(element.status)}} </td>
            </ng-container>

            <ng-container matColumnDef="prioridade">
                <th mat-header-cell *matHeaderCellDef> Prioridade </th>
                <td mat-cell *matCellDef="let element"> {{retornaPrioridade(element.prioridade)}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="/chamados/update/{{ element.id }}">
                        <i class="material-icons edit-icon" matTooltip="Editar" matTooltipPosition="below">edit</i>
                    </a>
                    <a routerLink="/chamados/read/{{ element.id }}">
                        <i class="material-icons read-icon" matTooltip="Visualizar" matTooltipPosition="below">visibility</i>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>