<div class="container">

    <h1>Lista de Chamados</h1>
    <button matButton="filled" routerLink="/chamados/create" class="mat-elevation-z8">Novo chamado</button>

    <mat-form-field>
        <mat-label>Busca</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex: Chamado 01" #input>
    </mat-form-field>

    <mat-radio-group>
        <mat-radio-button (click)="findAll()" class="margin-radio" value="before">TODOS</mat-radio-button>
        <p style="padding-left: 40px;"><strong>Filtro de Status:</strong></p>
        <mat-radio-button (click)="orderByStatus(0)" value="0" class="margin-radio" value="after">ABERTO</mat-radio-button>
        <mat-radio-button (click)="orderByStatus(1)" value="1" class="margin-radio" value="before">EM ANDAMENTO</mat-radio-button>
        <mat-radio-button (click)="orderByStatus(2)" value="2" class="margin-radio" value="before">ENCERRADO</mat-radio-button>
        <p style="padding-left: 80px;"><strong>Filtro de Prioridade:</strong></p>
        <mat-radio-button (click)="orderByPrioridade(0)" value="0" class="margin-radio" value="after">BAIXA</mat-radio-button>
        <mat-radio-button (click)="orderByPrioridade(1)" value="1" class="margin-radio" value="before">MÉDIA</mat-radio-button>
        <mat-radio-button (click)="orderByPrioridade(2)" value="2" class="margin-radio" value="before">ALTA</mat-radio-button>
    </mat-radio-group>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> Id </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>

            <ng-container matColumnDef="titulo">
                <th mat-header-cell *matHeaderCellDef> Título </th>
                <td mat-cell *matCellDef="let element"> {{element.titulo}} </td>
            </ng-container>

            <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef> Cliente </th>
                <td mat-cell *matCellDef="let element"> {{element.nomeCliente}} </td>
            </ng-container>

            <ng-container matColumnDef="tecnico">
                <th mat-header-cell *matHeaderCellDef> Técnico </th>
                <td mat-cell *matCellDef="let element"> {{element.nomeTecnico}} </td>
            </ng-container>

            <ng-container matColumnDef="dataAbertura">
                <th mat-header-cell *matHeaderCellDef> Data de Abertura </th>
                <td mat-cell *matCellDef="let element"> {{element.dataAbertura}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element"> {{retornaStatus(element.status)}} </td>
            </ng-container>

            <ng-container matColumnDef="prioridade">
                <th mat-header-cell *matHeaderCellDef> Prioridade </th>
                <td mat-cell *matCellDef="let element"> {{retornaPrioridade(element.prioridade)}} </td>
            </ng-container>

            <ng-container matColumnDef="acoes">
                <th mat-header-cell *matHeaderCellDef> Ações </th>
                <td mat-cell *matCellDef="let element">
                    <a routerLink="">
                        <i class="material-icons edit-icon">edit</i>
                    </a>
                    <a routerLink="">
                        <i class="material-icons delete-icon">visibility</i>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
            aria-label="Select page of periodic elements">
        </mat-paginator>
    </div>
</div>