<div class="container">
    <form class="form mat-elevation-z8" (ngSubmit)="onSubmit()">

        <h1>Help Desk - Login System</h1>

        <img src="img/login-image.svg" alt="Pagina de Login">

        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input [formControl]="email" name="email" type="email" matInput>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha" name="senha" matInput [type]="hide() ? 'password' : 'text'" />
            <button class="visibility-button" matIconButton matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
                [attr.aria-pressed]="hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            </mat-form-field>

        <button (click)="logar()" [disabled]="!validaCampos()" class="full-width mat-elevation-z4"  matButton="outlined" type="submit">Login</button>
    </form>
</div>