<div class="container mat-elevation-z8">
    <form class="form">
        <h1 class="fullWidth">Cadastrar Técnico</h1>
        <img class="fullWidth" src="img/tecnico-create.svg" alt="Imagem de Tecnico Create">

        <section class="section">
            <mat-checkbox class="margin">Admin</mat-checkbox>
            <mat-checkbox class="margin">Cliente</mat-checkbox>
            <mat-checkbox class="margin">Técnico</mat-checkbox>
        </section>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput placeholder="">
            <mat-icon class="material-symbols-outlined" matSuffix>pin</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field class="fullWidth" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>

        <button matButton="filled" class="fullWidth mat-elevation-z4">Cadastrar</button>
        <button matButton="filled" class="cancel-button fullWidth mat-elevation-z4">Cancelar</button>
    </form>

    <p class="fullWidth">Desenvolvido por Gabriel Barreto</p>
</div>